@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body{
    display: inline-flex;
    background:#dfe9f5 ;

}
.container{
    display: inline;
    /* width: 100; */
}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: white;
    width: 280px;
    overflow:hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;

}
.logo span{
    font-weight: bold;
    padding-left:15px ;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color:rgb(85,83,83);
    font-size: 14px;
    display: table;
    width:280px;
    padding: 10px;

}
nav .fa-solid{
    position: center;
    width: 40px;
    height: 30px;
    top: 2px;
    font-size: 20px;
    text-align: center;

}

 .navitem{
    position: center;
    top:12px;
    margin-left: 10px;

 } 
 /* a:hover{
    background: #eee;
 } */
 .logout{
    position: absolute;
    bottom: 0;
 }


main .h1{
    text-align: center;
}
 .main{
    width: 100%;
 }



.container1{

    justify-content: center;
    align-items: center;
    margin-left: 150px;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}
.container1 .title{
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    font-weight: 500;
}
.container1 .title::before{
    justify-content: center;
    align-items: center;
    
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}
.container1 form .user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2-20px);

}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;

}

form #update-btn:hover{
    /* height: 100%; */
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form #update-btn{
    height: 100%;
    width: 120px;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight:bolder;
    
    border-radius: 5px;
    letter-spacing: 1px;
    text-align: left;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px){
    .container1{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    
    }
    .container1 form .user-details{
        max-height: 300px;
        overflow-y: scroll;

    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
